NODE_PATH=src/

VITE_REACT_APP_DCL_DEFAULT_ENV="dev"

# URLs
VITE_REACT_APP_VESTINGS_API_URL=https://data.decentraland.vote/vestings.json
VITE_REACT_APP_PROPOSALS_URL=https://decentraland.org/proposal/
VITE_REACT_APP_REVIEW_CONTRACT_URL=https://etherscan.io/address/