.metric {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  position: absolute;
  min-width: 55px;
}

.metric-label {
  font-size: 12px;
}

.metric-amount {
  margin-top: 4px;
  font-size: 12px;
  color: var(--light-gray);
}

.metric-percentage {
  margin-top: 5px;
  padding: 3px;
  border-radius: 5px;
  font-size: 10px;
}

.metric-percentage.alt {
  color: black;
}
