.schedule {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.schedule h3 {
  margin-left: 50px;
  margin-top: 30px;
}

circle.recharts-dot.recharts-line-dot {
  display: none;
}

.recharts-tooltip-item {
  color: white !important;
  font-size: 10px;
  padding: 0px 5px;
}

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}

.recharts-layer.recharts-cartesian-axis-tick text {
  font-size: 12px;
}

.yAxis .recharts-cartesian-axis-tick:nth-child(1) {
  display: none;
}

.recharts-tooltip-label {
  font-size: 12px;
  padding: 5px;
}

.recharts-tooltip-item-list li:last-child {
  display: none !important;
}
