.details {
  flex: 0.7 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.release-btn {
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--light-blue);
}