#details .ui.header:not(.sub) {
  margin-top: 2px;
  font-size: 15px;
}

#details .ui.sub.header {
  margin: 0;
}

#details .item:not(:first-child) {
  margin-top: 16px;
}

#details.mobile .dates,
#details.mobile .item:not(:first-child):not(:last-child) {
  padding-bottom: 16px;
}

#details.mobile .dates,
#details.mobile .item:not(:first-child):not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}

#details.mobile .dates {
  display: flex;
  flex-direction: row;
}

#details.mobile .info {
  float: right;
}

#details.mobile .dates .start {
  margin-right: 80px;
}
