.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.app.loading,
.app.error {
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.app.error {
  color: red;
}
