.Card {
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  box-shadow: 0 1px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #efefef;
}

.Card h3 {
  margin-top: 0px;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 20px;
}

.Card h3:after {
  content: '';
  position: absolute;
  width: 16px;
  border: 1px solid #30d7a9;
  left: 0px;
  bottom: -7px;
}
