.header {
  border-bottom: 1px solid var(--light-gray);
}

.header .dcl.logo {
  height: 52px;
  width: 52px;
  vertical-align: middle;
  margin: 10px 0;
}

.header-title {
  font-weight: 600;
  font-size: 19px;
  display: flex;
}
