h3 {
  color: #16141a;
}

:root {
  --light-gray: #d3d3d3;
  --gray: #4f4f4f;
  --dark-gray: #222222;
  --green: #c640cd;
  --light-blue: #ff2d55;
  --dark-purple: #16141a;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
