#beneficiary {
  background: rgba(84, 96, 156, 0.15);
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

#beneficiary .header {
  margin: 0;
  text-transform: none;
}

#beneficiary .column {
  padding-right: 0;
}